<div class="toggle">
  {{x-toggle
    size=toggleSize
    value=value
    showLabels=showLabels
    onToggle=(action "onToggle")
    offLabel=falseLabel
    onLabel=trueLabel
    name=name
    disabled=property.readonly}}
</div>
